<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Song</title>
</head>
<body>
<h1>Update Song</h1>
<div th:if="${error != null}">
    <p style="color: red;" th:text="${error}"></p>
</div>
<form th:action="@{/songs/{id}/update(id=${song.id})}" th:object="${song}" method="post">
    <div>
        <label for="title">Song Title</label>
        <input type="text" id="title" th:field="*{title}"/>
        <span style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div>
        <label for="artist">Artist</label>
        <input type="text" id="artist" th:field="*{artist}"/>
        <span style="color: red;" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></span>
    </div>
    <div>
        <label for="genre">Genre</label>
        <input type="text" id="genre" th:field="*{genre}"/>
        <span style="color: red;" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
    </div>
    <div>
        <button type="submit">Update Song</button>
    </div>
</form>
<br>
<a href="/songs">Back to Songs List</a>
</body>
</html>
