<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Return Book</title>
</head>
<body>
<h1>Return Book</h1>
<form action="/library/return" method="post">
  <label for="id">Book ID:</label>
  <input type="number" id="id" name="id" required><br><br>

  <label for="borrowCode">Borrow Code:</label>
  <input type="text" id="borrowCode" name="borrowCode" required><br><br>

  <button type="submit">Return Book</button>
</form>
<a href="/library">Back to Home</a>
</body>
</html>
